.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--element-padding);

  font-size: 26px;
  line-height: 1.62;

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background);

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature__title {
  @extend %title;

  margin-bottom: var(--feature-title-margin);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.work__title {
  @extend %section-title;

  margin-bottom: var(--title-margin);
  font-size: 36px;
}

.team__title {
  @extend %section-title;

  color: var(--title-text-color);

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: var(--element-padding);
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: var(--title-margin);
  }
}

.clients__title {
  @extend %section-title;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: var(--element-padding);
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: var(--title-margin);
  }
}

.footer__title {
  margin-bottom: var(--footer-logo-margin);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background);
}

.modal__title {
  @extend %title;

  display: inline-block;
  margin-bottom: var(--element-padding);

  font-size: 20px;
  line-height: 1.17;
  text-align: center;
}
