:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --black-color: #000;
  --border-color: #eee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --after-mobile-menu-color: rgba(33, 33, 33, 0.2);
  --modal-modal-button-border-color: rgba(0, 0, 0, 0.1);

  --primary-background: #fff;
  --second-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --work-cart-background: rgba(47, 48, 58, 0.8);
  --portfolio-card-background: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);

  --section-padding: 94px;
  --title-margin: 50px;
  --element-padding: 30px;
  --logo-margin: 93px;
  --hero-padding: 200px;
  --header-padding: 32px;
  --header-logo-top-padding: 24px;
  --header-logo-bottom-padding: 25px;
  --feature-title-margin: 10px;
  --footer-padding: 60px;
  --footer-logo-margin: 20px;
  --footer-list-margin: 9px;
  --footer-container-margin: 70px;
  --button-margin: 8px;
  --portfolio-card-title-margin: 4px;
  --icon-margin: 16px;
  --portfolio-card-padding-top: 63px;
  --portfolio-card-padding-left: 24px;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
