.footer {
  padding-top: var(--footer-padding);
  padding-bottom: var(--footer-padding);

  background-color: var(--hero-footer-background);
}

.footer__box {
  @media screen and (max-width: 1199px) {
    margin-bottom: var(--footer-padding);
  }
}
